.owl-carousel {
    .owl-item {
        height: auto;
    }
    .owl-image{
        position: relative;
        .owl-slide-inner{
            position: relative;
            z-index: 1;
        }
    }
    .owl-nav{
        span{
            display: block;
            color: #000;
            // width: 40px;
            height: auto;
            font-size: 40px;  
            text-align: center;
        }
        // .owl-perv{

        // }
    }
    .owl-dot {
        span{
            width:10px;
            height:10px;
            display: block;
            background-color: #000;
            border-radius:50%;
            margin:0 5px;
            opacity: 0.5;
        }
        &.active{
            span{
                opacity: 1;
            }
        }
    }
}